.bbs {
    width: 100%;
    margin: 10px auto;
  }
  
  .bbs__heading {
    display: block;
    justify-content:center;
    margin: 20px;
  }
  
  .bbs__main {
    display: block;
    border: 3px solid rgba(62, 46, 46, 0.5);
    margin: 0 20px 20px 20px;
    padding: 15px;
    border-radius: 10px;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);

  }
  .bbs__title {
    flex: 4;
    margin-right: 1px;
   
  }
  
  .bbs__tag {
    opacity: 0.5;
  }
  
  .bbs__img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
    max-height: 100px;
    margin-right: 10px;
    flex: 1;
  }


  .span  p{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;

    margin: 0; 
    padding: 0;
}


.tagbox {
  padding: 0em 0em;
  width: fit-content;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #080000;//文字色
  background: #fff8e8;//タグ背景（右側の部分）
  border-left: solid 5px #ffc06e;//タグのボーダー線
  font-weight: bold;
}

.titlebox{
border-bottom: 1px solid #190909;
}


.tagContainer {
display: flex;
flex-wrap: wrap;
}
