.detailbtn{
    color: #fff;
    background-color: #0f1112;
    border-bottom: 5px solid #858483;
    font-weight: bold;
}
.detailbtn:hover{
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}
