.container {
    margin-top: 0x;/*文字の下s幅*/
    width: 100%;
    display: block;

    
  }
  
  .contents {
    list-style-type: none;
    height: auto;
   
    
    >li {
      margin-bottom: 0dvh;/*文字の下s幅*/
      opacity: 0.7;
      color: rgb(173, 49, 49);
      border: double 5px #000;
      
      
  }
  }
  .button{
    width: 50px;
    color: rgb(15, 36, 36);
    justify-content: center;
    font-weight: bold;
       
  }


.titlesize{
  font-size: 35px;
  color: #1b0d0d;
}

.namelogo{
  color: rgb(249, 249, 249);
  background-color: #0f1112;
}




.navbtn{
    color: #fff;
    background-color: #f1f2f3;
    border-bottom: 2px solid #37332e;
    font-weight: bold;
}
.navbtn:hover{
    margin-top: 1px;
    color: #fff;
    background: #fb8c3d;
    border-bottom: 2px solid #b84c00;
    opacity: 1.0;

    .namelogo{
      color: #0f1112;
      background-color: #fff;
    }
}

  